
<%- include('navbar') %>
<section class="container mt-5 edit-product">
<h1>Edit product</h1>
<div class="row">
  <div class="col home d-flex justify-content-center">
    <div class="col-8 col-md-4 formSignIn">
        <form action="/products/editProduct/<%= result[0].seller_id %>/<%= result[0].product_id %>" method="post"  class="d-flex flex-column gap-2">
            <span style="color:red; font-style: italic; text-align: center;"> <%= typeof message != 'undefined' ? message : null %></span>


            <div class="input-group flex-nowrap mb-2">
              <input type="text" class="form-control" placeholder="Name*" aria-label="Username" aria-describedby="addon-wrapping" name="product_name" value="<%= result[0].product_name %>">
            </div>

            <div class="form-floating mb-2">
              <textarea class="form-control" placeholder="Description" id="floatingTextarea" name="product_description" style="height: 100px"><%= result[0].product_description %></textarea>
              <label for="floatingTextarea">Description</label>
            </div>


            <div class="input-group flex-nowrap mb-2">
              <input type="number" class="form-control" placeholder="Price*" aria-label="Username" aria-describedby="addon-wrapping" name="price" value="<%= result[0].price %>">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
  </div>
</div>
</section>

<%- include('footer') %>